.day {
  aspect-ratio: 1;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.462);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 38px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.day:hover {
  transform: scale(1.1);
}

.day.selected {
  background-color: #2ecc71;
}
